form{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.colores{
    display: flex;

    align-items: center;
    justify-content: space-evenly;
}