.mensaje{
    color: red;
}

form{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    > #selectsColores{
        display: flex;
    }
}



.jugadas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > .jugada{
        display: flex;
        gap: 10px;

        > .posiciones{
            display: flex;
            gap: 5px;

            > *{
                padding: 5px;

                display: flex;
                align-items: center;
                justify-content: center;

                border-radius: 3px;
            }

            > .posicionNegra{
                background-color: black;
                color: white;
            }
            > .posicionBlanca{
                border: 1px black solid;
            }
        }


    }
}

.colores{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;

    > p {
        padding: 10px;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.colorAzul{
    background-color: blue;
    color: white;
}
.colorRojo{
    background-color: red;
    color: black;
}
.colorNaranja{
    background-color: orange;
    color: black;
}
.colorVerde{
    background-color: green;
    color: white;
}
.colorVioleta{
    background-color: violet;
    color: black;
}
.colorAmarillo{
    background-color: yellow;
    color: black;
}
.colorMarrón{
    background-color: brown;
    color: white;
}
.colorRosa{
    background-color: pink;
    color: black;
}